<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rotamobile.gursan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/gursan_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".ui.splash.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity android:name=".ui.login.Login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_login_ekrani"
            android:theme="@style/AppThemeLight"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>

        <activity android:name=".ui.bottom_navigation.MainBottomNavigation"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLight"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            >

        </activity>

        <activity android:name=".ui.details.Details"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.documents.CaptureImage"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait"
            android:label=""
            />

        <activity android:name=".ui.documents.OpenGalery"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait"
            android:label=""
            />

        <activity android:name=".ui.documents.PickDocument"
            android:theme="@style/AppThemeLight"
            android:screenOrientation="portrait"
            android:label=""
            />

         <activity android:name=".ui.activity.CodeReader"
             android:theme="@style/AppThemeLight"
             android:label=""
             android:screenOrientation="portrait"
             />

        <activity android:name=".ui.documents.AddMaterial"
            android:theme="@style/AppThemeLight"
            android:label=""
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.documents.DisServisForm"
            android:theme="@style/AppThemeLight"
            android:label=""
            android:screenOrientation="portrait"/>


    </application>

</manifest>